@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
  transition: all 01s ease-in-out;
}
.img_glow {
  box-shadow: 0 0 55px rgb(rgb(20, 20, 20), rgb(72, 75, 72), rgb(146, 146, 156));
}

.neno-button {
  transition: all 1s ease-in-out;
}

.neno-button:hover {
  box-shadow: 0 0 15px rgb(20, 20, 20);
}
